<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Task</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Edit Task</h1>
  <form method="post" action="/edit/{{task_id}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />

    <p>
      <label for="title">제목 <span class="required">*</span></label><br />
      <input type="text" name="title" id="title" size="32" value="{{ task_title }}" required />
    </p>
    <p>
      <label for="contents">내용 <span class="required">*</span></label><br />
      <textarea name="contents" id="contents" rows="4" required>{{ task_contents }}</textarea>
    </p>
    <p>
      <label for="due_date">마감일 <span class="required">*</span></label><br />
      <input type="date" name="due_date" id="due_date" value="{{ task_due_date }}" required />
    </p>
    <p><input type="submit" value="Edit Task" /></p>
  </form>
  <div class="centered">
    <p class="custom-link">등록일 : {{ task_input_date }}</p>
    <a href="/" style="color: red">Back to Task List</a>
  </div>
</body>
</html>