{% extends "base.html" %}

{% block title %}
Result - Team 01 WebProject
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card shadow-lg border-0 rounded-lg mt-1">
          <div class="card-header">
            <h3 class="text-center font-weight-light my-4">{{ genre_name }} | {{ keywords }} 분석 요약</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-4">
                  <input type="hidden" id="keywords_importance" value='{{ keywords_importance | tojson }}'>
                  <div class="card-body"><canvas id="keywordsPieChart" width="100%" height="40"></canvas></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='assets/demo/top5-keywords-genre.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/demo/top5-keywords-selected-group.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/demo/keywords-important-pie.js') }}"></script>
{% endblock %}
