{% extends "login_base.html" %} {% block title %}Register{% endblock %} {% block header %}Register{% endblock %} {% block content %}
<div class="d-flex flex-shrink-0 p-3 link-body-emphasis text-decoration-none">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">{{ form.username.label(class="form-label") }} {{ form.username(class="form-control") }}</div>
    <div class="form-group">{{ form.email.label(class="form-label") }} {{ form.email(class="form-control") }}</div>
    <div class="form-group">{{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }}</div>
    <div class="form-group">{{ form.confirm_password.label(class="form-label") }} {{ form.confirm_password(class="form-control") }}</div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
{% endblock %}
